@import "style/graph-tooltip";
@import "style/typography.scss";
@import "style/capacity-zoom-graph.scss";

body {
  font-family: 'Montserrat', sans-serif;
  color: #324147;

  p {
    font-size: 11px;
    margin: 0 0 8px 0;
  }

  h4 {
    text-transform: uppercase;
    font-weight: 400;
  }
}

.container {
  position: relative;
  margin: 0 auto 150px auto;
  max-width: 1200px;
}
