@import "style/graph-tooltip";
@import "style/typography.scss";
@import "style/capacity-zoom-graph.scss";

body {
  font-family: 'Montserrat', sans-serif;
  color: #324147;
}

.container {
  position: relative;
  margin: 0 auto 10% auto;
  max-width: 1200px;
}
