@import "style/graph-tooltip";
@import "style/typography.scss";

body {
  color: #324147;

  p {
    font-size: 11px;
    margin: 0 0 8px 0;
  }

  h4 {
    text-transform: uppercase;
    font-weight: 400;
  }
}

.container {
  margin: auto;
  max-width: 800px;

  &__image {
    width: 100px;
    height: auto;
  }
}
